.page-header {
  font-family: "Oswald";
  display: flex;
  flex-direction: column;
}
.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-header__logo {
  width: 192px;
  flex-shrink: 0;
}
/*.page-header__toggle {
	margin-left: auto;
}*/
@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
  }
  .page-header__toggle {
    display: none;
  }
}
